*{
    margin:0;
}

.App{
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 400px) {
    .App {
      /* Your styles for larger screens */
      width: 100%;
    }
  }

/* Track */
::-webkit-scrollbar {
  display: none;
  width: 10px; /* width of the scrollbar */
  height: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c0c0c; /* color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #ddd; /* color of the scrollbar track on hover */
}


